.span-18
  .box.static-container
    - for post in NewsPost.order("created_at DESC").limit(5)
      .newspost
        %h2= link_to post.title, post
        != RedCloth.new(post.body).to_html
        %span{:title=>post.created_at}= l(post.created_at, :format => :short)
        != "by <i>#{post.author}</i>, " + link_to("#{pluralize(post.comments_count, "comment", "comments")}", news_post_path(post, :anchor => :comments))
.span-6.last
  .box.static-container
    = link_to t("home.latest_patch_replays"), search_replays_path(:version => @latest_patch)
    %br
    = link_to t("home.grandmaster_replays"), search_replays_path(:league => "Grandmaster")
  .box.static-container
    %h4.first= t("events.events")
    - for event in @events
      = link_to event.name, event
    %br
    = link_to t("see_more"), events_path