- title("About")

.box.static-container
  %p
    = link_to "drop.sc", :root
    was started in early 2011 because the author didn't find a simple, elegant and fast Starcraft 2 replay site.
  
  %p  
    Feedback, suggestions or just a greeting are most welcome to
    = mail_to "support@drop.sc"
    
  %p
    We thank Graylin Kim for his excellent library (
    = link_to "sc2reader", "https://github.com/GraylinKim/sc2reader"
    ) and support.
  
  %p
    We are proud partners of 
    != link_to("SC2Ranks", "http://sc2ranks.com/") + " and " + link_to("Sc2gears", "http://sites.google.com/site/sc2gears/") + "."
  
  %p
    = link_to "Teamliquid.net", "http://www.teamliquid.net"
    has been invaluable source of inspiration and feedback.
  
  %p
    We send greetings to our comrades: <br>
    = link_to "SC2Replayed", "http://www.sc2replayed.com"
    %br
    = link_to "SC2Rep", "http://www.sc2rep.com/"
    %br
    = link_to "ReplayFu", "http://replayfu.com/"
    
  %p
    Also huge thanks to following people (in no particular order):<br>
    <i>peksii, yuizy, Laquendi, Epeli, Maakuth, bpeschier, #sc, #codegrove, #sc2reader</i>
  %p
    = link_to "drop.sc", :root
    ♥ You